:root {
    --main-font-color: #151D3B;
    --white-color: #fff;
    --alice-blue-color: #f0f8ff;
    --light-gray-color: #ddd;
    --dark-color: #06113C;
    --blue-color: #332FD0;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: var(--main-font-color);
}

* {
    box-sizing: border-box;
}

.tb {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid var(--dark-color);
}

.tb thead {
    background-color: var(--blue-color);
    color: var(--white-color);
}

.tb td, .tb th {
    padding: 5px 10px;
    border:1px solid var(--light-gray-color);
    text-align: left;
    font-size: 16px;
}

.tb tbody tr:nth-child(even) {
    background-color: var(--alice-blue-color);
}

/* Responsive */
@media(max-width: 700px) {
    .tb thead {
        display: none;
    }

    pre, code, .tb, .tb tbody, .tb tr, .tb td {
        display: block;
        width: 100%;
    }

    .tb tr {
        margin-bottom: 15px;
    }

    .tb td {
        text-align: right;
        padding-left: 30%;
        position: relative;
    }

    .tb td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 10px;
        font-weight: bold;
    } 


}

